header {
  width: 100%;

  background-color: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.14), 0 2px 0 rgba(0, 0, 0, 0.05);
  .top {
    width: 100%;
    height: 60px;
    background-color: blueviolet;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .middle {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    .right {
      width: 60%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      .logo {
        width: 25%;
        height: 95%;
        display: flex;
        padding: 0px 16px;

        & img {
          width: 195px;
          height: 30px;
          object-fit: cover;
          margin: auto;
        }
      }
      .searchbar {
        width: 65%;
        height: 44px;
        background-color: var(--bg-snowflake);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        border-radius: 8px;
        padding: 0px 16px;
        .searchicon {
          width: 24px;
          height: 24px;
        }
        & input {
          width: calc(100% - 24px);
          height: 40px;
          background-color: transparent;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          border: 0;
          outline: unset;
          padding: 0px 16px;
          &::placeholder {
            font-size: 12px;
            color: var(--bg-Gunmetal-Gray);
          }
        }
      }
    }
    .left {
      width: 20%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .btn {
        width: 135px;
        height: 40px;
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid var(--WindChime);
        & a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: black;
          font-size: 12px;
        }
      }
      .shop {
        width: 40px;
        height: 40px;
        padding: 8px;
      }
    }
  }
  .bottom {
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .menu {
      width: 70%;
      height: 100%;
      & nav {
        width: 100%;
        height: 100%;
        .MenuItems{
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          align-items: center;
          list-style: none;
          gap: 15px;
          padding: 0px 16px;
          .MenuItem{
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: var(--Genie);
            fill: var(--Genie);
            & a {

              display: flex;
              align-items: center;
              text-decoration: none;
              font-size: 12px;
              color: var(--Grey-Web);
            }
            .SubMenu{
              width: 80%;
              height: 500px;
              
              position: absolute;
              z-index: 99999999999;
              display: none;
              top: 170px;
              .LargeMenu{
                width: 18%;
                height: 100%;
                background-color: var(--bg-snowflake);
                list-style: none;
                overflow: auto;
                .SmallMenu{
                  width: 100%;
                  height: 10%;

                  background-color: var(--bg-snowflake);
                  line-height: 50px;
                  padding-right: 20px;
                  cursor: pointer;
                  a:hover{
                    background-color: darkgray;
                    color:red;

                  }
                  .smallMenuText{
                    margin-right: 10px;
                list-style: none;
                font-size: small;
                color: rgb(172, 169, 169);

                  }
                  .SubMenuLeft{
                    width: calc(100% - 18%);
                    height: 100%;
                    background-color: white;
                    overflow: auto;
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: flex;
                    flex-flow: row wrap;
                    gap: 5px;
                    justify-content: center;
                    .Left{
                      width: 24%;
                      
                      height: 100%;
                      background-color: white;
                      .leftText{
                        margin-right: 10px;
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
            }
            &:hover{
              .SubMenu{
                display: block;
              }
            }
          }
        }
      }
    }
    .location {
      width: 15%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      color: var(--Genie);
      fill: var(--Genie);
      gap: 12px;
      
    }
  }
}

